::ng-deep .tam {
    
}
.animacion:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,0);
    -webkit-box-shadow: 0px 0px 15px 15px rgba(0,0,0,255);
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.animacion {
    overflow:hidden;
}
.botones {
    margin: 5px;
}
@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}