<div class="grid align-items-center justify-content-center m-5" *ngIf="spinner">

    <div class="">
        <p-progressSpinner></p-progressSpinner>
        <p class="animate__animated animate__backInUp">Cargando...</p>

    </div>
</div>


<div class="card grid" *ngIf="!spinner">
    <div class="col-12">
        
        <div class="grid p-fluid align-items-center">
            
            <div class="col-12 sm:col-6 ">
                <h2 class="" style="margin: 0;">Comics</h2>
            </div>
            
            <div class="p-inputgroup col-12 sm:col-6" style="height: 50px;">
                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                <input type="text" 
                pInputText placeholder="Buscar Comics..."
                #txtSearch
                (keyup)="buscarComics( txtSearch.value );">         
            </div>
        </div>
        <hr style="margin-top: 0;">
        
        <div *ngIf="noFound | busqueda:search:comics">
            <h3 class="animate__animated animate__backInUp">No se encontró...</h3>
        </div>
        <div class="grid card">
            <div *ngFor="let comic of comics | filtro:desde:search; let i = index" 
            class="col-12 sm:col-6 md:col-3 animate__animated animate__pulse">
            <h1 *ngIf="noFound">Hola</h1>
            <p-card class="m-1 " header="{{comic.title }}"  styleClass="tam"> 
                
                <ng-template pTemplate="header">
                        <div class="animacion" >
                            <img alt="{{comic.title}}" src="{{ comic.thumbnail.path+'.'+comic.thumbnail.extension }}">
                        </div>
                    </ng-template>

                    <ng-template pTemplate="subheader">
                        <p-scrollPanel [style]="{ height: '100px'}" class="animate__animate animate__pulse">
                            <!-- <p *ngIf="comic.description.length <= 0">No hay descripción...</p> -->
                            <p innerHTML="{{comic.description}}"></p>
                        </p-scrollPanel>
                    </ng-template>
                    
                    <ng-template pTemplate="footer">
                        <div class="grid p-fluid align-content-center">
                            <p-button class="col-12 sm:col-6 md:col-12 p-button-success" label="Favoritos" icon="pi pi-star" styleClass="p-button-success"></p-button>
                            <p-button class="col-12 sm:col-6 md:col-12" label="Información" icon="pi pi-info-circle" styleClass="p-button-info"></p-button>
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>
        <p-paginator *ngIf="pag" [rows]="pageSize" [totalRecords]="comics.length" (onPageChange)="cambiarPagina( $event )"></p-paginator>

        
    </div>
</div>

