.tarjeta {
    height: auto;
}

.title {
    height: 20px;
}

h5 {
    font-size: medium;
    height: 100%;
    width: 100%;
}

::ng-deep .tam {
    border-radius: 5%;
    height: 100%;
    width: 100%;
}
.animacion {

    display: flex;
    justify-content: center;
    height: 200px;
}


:host ::ng-deep .p-image {
    overflow:hidden;
    border-radius: 10%;
    height: 100%;
}

:host ::ng-deep .p-image:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,0);
    -webkit-box-shadow: 0px 0px 15px 15px rgba(0,0,0,255);
}



:host ::ng-deep .p-image-toolbar {
    width: 100%;
}

.botones {
    margin: 5px;
}

:host ::ng-deep .p-scrollpanel {
    margin-top: 50px;
}

@media screen and ( max-width: 575px ){
    .tarjeta{
        width: 100%;
        height: auto;
    }
    .animacion {
        overflow:hidden;
        height: 100%;
        width: 100%;
    }

    :host ::ng-deep .p-paginator {
        margin-bottom: 20px;
    }
}