img {
    width: 100%;
    border-radius: 10px;
} 

.target {
    margin: 1px;
    border-radius: 10px;
}

button {
	position: fixed;
	bottom: 20px;
}
.contenedor {
    width: auto;
    height: auto;
}
::ng-deep .p-card {
    width: 100%;
}