
<div class="flex">

    <div class="col-12">

        <div class="grid">
            <div class="col-12">
                <h2>Seleccione el tema</h2>
            </div>

            <div class="col-12 ml-5">
                <p-radioButton name="groupname" 
                               inputId="val1" 
                               value="dark"
                               #oscuro
                               [(ngModel)]="themeSelection"
                               (onClick)="changeTheme( oscuro.value )"></p-radioButton>
                <label for="val1"> Oscuro (Prederterminado)</label>
            </div>
            <div class="col-12 ml-5">
                <p-radioButton name="groupname" 
                               inputId="val2" 
                               value="light"
                               #claro
                               [(ngModel)]="themeSelection"
                               (onClick)="changeTheme( claro.value )"></p-radioButton>
                <label for="val2"> Claro</label>
            </div>

        </div>

    </div>

</div>
