
<div class="flex">

    <div class="col-12">

        <div class="col-12">
            <h2>Seleccione el tema</h2>
        </div>

        <div class="col-12">
            <p-radioButton name="groupname" 
                            inputId="val1" 
                            value="mdc-dark-indigo"
                            #oscuro
                            [(ngModel)]="themeSelection"
                            (onClick)="changeTheme( oscuro.value )"></p-radioButton>
            <label for="val1"> Oscuro (Prederterminado)</label>
        </div>
        <div class="col-12">
            <p-radioButton name="groupname" 
                            inputId="val2" 
                            value="mdc-light-indigo"
                            #claro
                            [(ngModel)]="themeSelection"
                            (onClick)="changeTheme( claro.value )"></p-radioButton>
            <label for="val2"> Claro</label>
        </div>
        <div class="col-12">
            <p-radioButton name="groupname" 
                            inputId="val3" 
                            value="bootstrap4-light-blue"
                            #blue
                            [(ngModel)]="themeSelection"
                            (onClick)="changeTheme( blue.value )"></p-radioButton>
            <label for="val3"> Blue</label>
        </div>
        <div class="col-12">
            <p-radioButton name="groupname" 
                            inputId="val4" 
                            value="bootstrap4-dark-blue"
                            #bluedark
                            [(ngModel)]="themeSelection"
                            (onClick)="changeTheme( bluedark.value )"></p-radioButton>
            <label for="val4"> Blue Dark</label>
        </div>

        <div class="col-12">
            <h2 style="margin-bottom: 0;">Tamaño de la fuente</h2>
        </div>
        <div class="col-12">
            <button icon="pi pi-minus" 
                    type="button"
                    (click)="sizeFont(-1)"
                    pbutton="" 
                    class="p-element p-button-text p-button p-component p-button-icon-only">
                <span class="p-button-icon pi pi-minus" aria-hidden="true"></span>
                <span aria-hidden="true" class="p-button-label">&nbsp;</span>
            </button>
            <button icon="pi pi-plus" 
                    type="button"
                    (click)="sizeFont(1)"
                    pbutton="" 
                    class="p-element p-button-text p-button p-component p-button-icon-only">
                <span class="p-button-icon pi pi-plus" aria-hidden="true"></span>
                <span aria-hidden="true" class="p-button-label">&nbsp;</span>
            </button>
            
        </div>

    </div>

</div>
