<div class="grid">
    <p-sidebar [(visible)]="visibleSidebar1">

        <p-menu [model]="items" styleClass="bar"></p-menu>
        <div>
            
        </div>
    </p-sidebar>

    <p-toolbar>
        <div class="p-toolbar-group-left">

            <i class="pi pi-bars pointer ocultar" (click)="visibleSidebar1 = true"></i>
            <p-menubar [model]="items" class="ocultarItems active"
                       styleClass="bar"></p-menubar>
            
        </div>
    </p-toolbar>
</div>