
@media screen and (min-width: 961px) {
    .ocultar {
        opacity: 0%;
        pointer-events: none;
    }

   
}
::ng-deep .bar {
    padding: 0%;
    border: 0ch;
    background-color: rgba(0, 0, 0, 0);
}
p-toolbar {
    position: relative;
}

@media screen and (max-width: 960px) {
    .ocultarItems {
        opacity: 0%;
        pointer-events: none;
    } 
   
}

.pointer {
    cursor: pointer;
}