<div class="grid align-items-center justify-content-center m-5" *ngIf="spinner">

    <div class="">
        <p-progressSpinner strokeWidth="8"></p-progressSpinner>
        <p class="animate__animated animate__backInUp">Cargando...</p>

    </div>
</div>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                 header="Confirmar"
                 icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>

<div class="flex" *ngIf="!spinner">
    <div class="col-12">

        <div class="grid p-fluid align-items-center">

            <div class="col-12 sm:col-6 ">
                <h2 class="" style="margin: 0;">Personajes</h2>
            </div>

            <div class="p-inputgroup col-12 sm:col-6" style="height: 50px; margin-top: 5px;">
                <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                <input type="text" 
                       pInputText
                       (keyup)="buscar( txtSearch.value )"
                       placeholder="Buscar Personajes"
                       #txtSearch>         
            </div>
        </div>
        <!-- <hr style="margin-top: 0;"> -->
        <div *ngIf="noFound | busqueda:search:personajes">
            <h3 class="animate__animated animate__backInUp">No se encontró...</h3>
        </div>
        <div class="grid">
            <!-- <p-image src="../../../assets/marvel.png"
                     [preview]="true"></p-image> -->
            <div *ngFor="let personaje of personajes | filtro:desde:search ; let i= index" 
                  class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-2 " [ngClass]="{'animate__animated animate__pulse' : anima }">
                  <div class="tarjeta ">

                      <p-card class="m-2" styleClass="tam">
      
                        
                          <ng-template pTemplate="header">
                              <div class="animacion">
                                  <p-image src="{{ personaje.thumbnail.path+'.'+personaje.thumbnail.extension }}" 
                                           alt="{{personaje.name}}" 
                                           [preview]="true" 
                                           imageClass="p-image" 
                                           styleClass="toolbar"
                                           (click)="anima = false"></p-image>
                              </div>
                          </ng-template>
      
                          <ng-template pTemplate="subheader">
                            <div class="title">
                                <h4>{{personaje.name}}</h4>
                                  <p-scrollPanel [style]="{ height: '60px'}" class="animate__animate animate__pulse">
                                      <p *ngIf="personaje.description.length <= 0">No hay descripción...</p>
                                      {{personaje.description}}
                                  </p-scrollPanel>
                            </div>
                          </ng-template>
                          
                          <ng-template pTemplate="footer">
                              <div class="grid p-fluid align-content-center">
                                  <p-button class="col-12 sm:col-6 md:col-12 p-button-success" 
                                            label="Favoritos" 
                                            (click)="agregarFavoritos( personaje.id, personaje.name, personaje.thumbnail.path+'.'+personaje.thumbnail.extension )"
                                            icon="pi pi-star" 
                                            styleClass="p-button-success p-button-rounded p-button-outlined"></p-button>
                                  <p-button class="col-12 sm:col-6 md:col-12" 
                                            label="Información" 
                                            icon="pi pi-info-circle" 
                                            styleClass="p-button-info p-button-rounded p-button-outlined"
                                            (onClick)="mostrarInfo( personaje.id )"></p-button>
                              </div>
                          </ng-template>
                      </p-card>
                  </div>
            </div>
        </div>
        <p-paginator *ngIf="pag" [rows]="pageSize" [totalRecords]="personajes.length" (onPageChange)="cambiarPagina( $event )"></p-paginator>
        
    </div>
</div>