.tarjeta{

    height: auto;
    width: auto;
    margin: .3rem;
}

::ng-deep .tam {
    border-radius: 5%;
    height: 100%;
    width: 100%;
}
.personajes-item {
    display: flex;
    justify-content: center;
}

.animacion {
    display: flex;
    justify-content: center;
    height: 200px;

}

:host ::ng-deep .p-image {
    border-radius: 5%;
    height: 100%;
}


/* @media screen and ( max-width: 575px ){

    .tarjeta{
        width: auto;
        height: auto;

    }
    .animacion {
        overflow:hidden;
        height: 235px;

    }
} */

:host ::ng-deep .p-carousel-dot-icon {
    color: white;

}
:host ::ng-deep .p-carousel-dot-item {
    color: white;
}

@media screen and ( max-width: 575px ) {

    .tarjeta{
        width: 100%;
        height: auto;
    }
    
    .animacion {
        overflow:hidden;
        height: 100%;
        width: 100%;
    }
}










