<div class="grid align-items-center justify-content-center m-5" *ngIf="spinner">

    <div class="">
        <p-progressSpinner strokeWidth="8"></p-progressSpinner>
        <p class="">Cargando...</p>

    </div>
</div>
<div class="text-center">
    <hr style="margin: 1px;">
    <h2 style="margin: 0;">Bienvenidos A MarvelApp</h2>
    <hr style="margin: 1px;">
</div>


<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
                 header="Confirmar"
                 icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>


<div class="imagenPortada">
    <img src="https://i.annihil.us/u/prod/marvel/i/mg/8/e0/52bdf830aa094.jpg" 
    alt="Marvel">
    <div class="texto-encima">
        
        <span>Pagina Web</span>
        <br>
        <span>Usando</span>
        <br>
        <span>Api oficial de Marvel</span>
        <br>
        <div class="texto">
            <p>
                La API de Marvel Comics permite a los desarrolladores de todo el mundo 
                acceder a información sobre la amplia biblioteca de cómics de Marvel, 
                desde lo que está por venir hasta hace 70 años.
            </p>
            <button pButton 
                    label="Ir a Personajes"
                    class="m-1"
                    routerLink="/dashboard/personajes"></button>
            <button pButton 
                    label="Ir a Comics"
                    class="m-1"
                    routerLink="/dashboard/comics"></button>
        </div>
    </div>
</div>


<div *ngIf="!spinner">
        <div *ngIf="personajes.length === 0">
            <div class="">
                <h4>Aún no tiene personajes favoritos...</h4>
            </div>
           

        </div>

    <p-carousel *ngIf="personajes.length > 0"
                [value]="personajes" 
                [numVisible]="5" 
                [numScroll]="5" 
                [circular]="true" 
                [autoplayInterval]="3000"
                [responsiveOptions]="responsiveOptions">
    
        <ng-template pTemplate="header">
            <h3>Mis Personajes Favoritos</h3>
            
        </ng-template>
        
        <ng-template let-personaje pTemplate="item">
            <div class="personajes-item text-center">
                <div class="tarjeta">
                    <p-card styleClass="tam">
                        <ng-template pTemplate="header">
                            <div class="animacion">
                                <p-image src="{{ personaje.img }}"
                                         imageClass="p-image"></p-image>
                            </div>
                        </ng-template>
    
                        <ng-template pTemplate="subheader">
                            <div class="title">
                                <h4 class="p-mb-1"> {{ personaje.nombre }} </h4>
                            </div>
                        </ng-template>
                        
                        <ng-template pTemplate="footer">
                            <div class="car-buttons p-mt-5">
                                <button pButton 
                                        type="button" 
                                        class="m-1 p-button-info p-button-rounded p-button-outlined"
                                        icon="fa-solid fa-circle-info"
                                        (click)="obtenerPersonaje( personaje.id )"></button>
                                <button pButton 
                                        type="button" 
                                        class="m-1 p-button-secondary p-button-rounded p-button-outlined" 
                                        icon="fa-solid fa-heart-circle-xmark"
                                        (click)="eliminarPersonaje( personaje )"></button>
                            </div> 
                        </ng-template>
                        
                        
                    </p-card>

                </div>
            </div>
        </ng-template>
    </p-carousel>
    

    <div *ngIf="comics.length === 0 && !spinner">
        <div class="">
            <h4>Aún no tiene comics favoritos</h4>
        </div>
        
    </div>

    <p-carousel *ngIf="comics.length > 0"
                [value]="comics" 
                [numVisible]="5" 
                [numScroll]="5" 
                [circular]="true" 
                [autoplayInterval]="3000"
                [responsiveOptions]="responsiveOptions">
    
        <ng-template pTemplate="header">
            <h3>Mis Comics Favoritos</h3>
        </ng-template>
        
        <ng-template let-comic pTemplate="item">
            <div class="personajes-item text-center">
                <div class="tarjeta">
                    <p-card styleClass="tam">
                        <ng-template pTemplate="header">
                            <div class="animacion">
                                <p-image src="{{comic.img}}" alt="{{comic.nombre}}"
                                         imageClass="p-image"></p-image>
                            </div>
                        </ng-template>
    
                        <ng-template pTemplate="subheader">
                            <div class="title">
                                <h4 class="p-mb-1"> {{comic.nombre}} </h4>
                            </div>
                        </ng-template>
                        
                        <ng-template pTemplate="footer">
                            <div class="car-buttons p-mt-5">
                                <button pButton 
                                        type="button" 
                                        class="m-1 p-button-info p-button-rounded p-button-outlined"
                                        icon="fa-solid fa-circle-info"
                                        (click)="obtenerComic( comic.id )"></button>
                                <button pButton 
                                        type="button" 
                                        class="m-1 p-button-secondary p-button-rounded p-button-outlined" 
                                        icon="fa-solid fa-heart-circle-xmark"
                                        (click)="eliminarComic( comic )"></button>
                            </div> 
                        </ng-template>
                        
                        
                    </p-card>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
