<hr style="margin: 0;">


<div class="imagenPortada">
    <img src="https://i.annihil.us/u/prod/marvel/i/mg/8/e0/52bdf830aa094.jpg" 
    alt="Marvel">
    <div class="texto-encima">

        <h1 style="margin: 0;">Bienvenidos</h1>
        <div class="texto">
            <p>
                La API de Marvel Comics permite a los desarrolladores de todo el mundo 
                acceder a información sobre la amplia biblioteca de cómics de Marvel, 
                desde lo que está por venir hasta hace 70 años.
            </p>
            <button pButton 
                    label="Ir a Personajes"
                    class="m-1"
                    routerLink="/dashboard/personajes"></button>
            <button pButton 
                    label="Ir a Comics"
                    class="m-1"
                    routerLink="/dashboard/comics"></button>
        </div>
    </div>
</div>