<div class="grid align-items-center justify-content-center m-5" *ngIf="spinner">

    <div class="">
        <p-progressSpinner strokeWidth="8"></p-progressSpinner>
        <p class="">Cargando...</p>

    </div>
</div>

<div *ngIf="personajes.length === 0 && !spinner">
    <h4>Aún no tiene comics favoritos</h4>
</div>

<div *ngIf="!spinner">
   

    <p-carousel *ngIf="personajes.length > 0"
                [value]="personajes" 
                [numVisible]="5" 
                [numScroll]="5" 
                [circular]="true" 
                [autoplayInterval]="3000"
                [responsiveOptions]="responsiveOptions">
    
        <ng-template pTemplate="header">
            <h3>Mis Personajes Favoritos</h3>
            
        </ng-template>
        
        <ng-template let-personaje pTemplate="item">
            <div class="personajes-item text-center">
                <div class="personajes-item-content">
                    <p-card>
                        <ng-template pTemplate="header">
                            <img src="{{ personaje.img }}" 
                                 alt="{{personaje.nombre}} " class="personajes-image mt-3">
                        </ng-template>
    
                        <ng-template pTemplate="subheader">
                            <div>
                                <h4 class="p-mb-1"> {{ personaje.nombre }} </h4>
                            </div>
                        </ng-template>
                        
                        <ng-template pTemplate="footer">
                            <div class="car-buttons p-mt-5">
                                <button pButton type="button" class="m-1" label="Info"></button>
                            </div> 
                        </ng-template>
                        
                        
                    </p-card>
                </div>
            </div>
        </ng-template>
    </p-carousel>
    

    <div *ngIf="personajes.length === 0 && !spinner">
        <h4>Aún no tiene personajes favoritos</h4>
    </div>
    <!-- [value]="comics"  -->
    <p-carousel *ngIf="personajes.length > 0"
                [numVisible]="3" 
                [numScroll]="3" 
                [circular]="true" 
                [autoplayInterval]="3000"
                [responsiveOptions]="responsiveOptions">
    
        <ng-template pTemplate="header">
            <h3>Mis Comics Favoritos</h3>
        </ng-template>
        
        <ng-template let-personaje pTemplate="item">
            <div class="personajes-item text-center">
                <div class="personajes-item-content">
                    <p-card>
                        <ng-template pTemplate="header">
                            <img src="{{ personaje.thumbnail.path+'.'+personaje.thumbnail.extension }}" alt="{{personaje.name}}.name" class="personajes-image mt-3">
                        </ng-template>
    
                        <ng-template pTemplate="subheader">
                            <div>
                                <h4 class="p-mb-1"> {{personaje.name}} </h4>
                            </div>
                        </ng-template>
                        
                        <ng-template pTemplate="footer">
                            <div class="car-buttons p-mt-5">
                                <button pButton type="button" class="m-1" label="Info"></button>
                                <button pButton type="button" class="m-1" label="Info"></button>
                            </div> 
                        </ng-template>
                        
                        
                    </p-card>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
