.tarjeta{
    height: auto;
    width: auto;
    margin: .3rem;
}

.title {
    height: 60px;
}

h4 {
    height: 100%;
    width: 100%;
}

:host ::ng-deep .tam {
    border-radius: 5%;
    height: 100%;
    width: 200px;
}

.personajes-item {
    display: flex;
    justify-content: center;
}

.animacion {
    display: flex;
    justify-content: center;
    height: 200px;
}

:host ::ng-deep .p-image {
    border-radius: 5%;
    height: 100%;
    width: 100%;
}


.imagenPortada{
    display: flex;
    /* text-align: center; */
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 0%;
    overflow: hidden;
}

.imagenPortada img{
    width: 100%;
}

.texto-encima {
    position: absolute;
    width: 500px;
    margin: 10px;
    left: 10px;
}

@supports(object-fit: cover){
    .imagenPortada img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

}


@media screen and ( max-width: 560px ) {

    .tarjeta{
        height: auto;
        width: 100%;
    }
    
    .animacion {
        overflow:hidden;
        height: 100%;
        width: 100%;
    }
    :host ::ng-deep .tam {
        border-radius: 5%;
        height: 100%;
        width: auto;
    }
    .texto-encima {
        position: absolute;
        width: 280px;
        left: 10px;
    }


}