<div class="text-center ">
    <div class="col-12 footer">
        <hr style="margin-bottom: 0;">

        <p-toolbar>
            <div class="p-toolbar-group-left col-4">
                <div class="col-12 imagen">
                    <img src="../../../assets/marvel.png" 
                         alt="Marvel"
                         routerLink="dashboard">
                </div>
                
            </div>
        
            <div class="p-toolbar-group-center col-4">
                <span>Copyright © 2022 Todos los derechos reservados</span>
            </div>

            <div class="p-toolbar-group-right col-4">

                <div class="col-12">
                    <span>Creado por Daniel Alvarado</span>
                    <br>
                    <a target="_blank" 
                       href="https://github.com/DaniRicher"><i class="pi pi-github"></i></a>
                </div>
            </div>
        </p-toolbar>
    </div>
</div>
